html,body,header{
  height: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

header {
    background-color: #333;
    color: white;
    text-align: center;
}

nav {
    background-color: #9d9696;
    padding: 0.5%;
    font-family: Microsoft JhengHei;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0% 10px;
    cursor: pointer;
}

img{
  width: 40px;
}

.search {
    display: flex;
    text-align: center;
}

.search_input[type="text"] {
    padding: 1%;
    width: 500px;
    font-size: large;
    border-radius: 5px;
    border-color:gray;
}

.search_button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
}

.search_button:hover {
    opacity: 0.8;
}

.login_input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: large;
}

.login_button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: large;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
.login_button:hover {
    opacity: 0.8;
}

.titlecontainer {
    margin: 1px 10%;
    display: flex;
    justify-content: space-between;
}

.container {
    padding: 0% 10% 10% 10%;
    text-align: left;
}
  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
  
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 20%;
  height: auto;
}
  

.close {
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
  
.close:hover,.close:focus {
  color: red;
  cursor: pointer;
}
  
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.radio-item [type="radio"] {
  display: none;
}

.radio-item + .radio-item {
  margin-top: 3px;
}

.radio-item label {
  color: white;
  display: block;
  padding: 10px 50px 10px 50px;
  background: #04AA6D;
  border: 2px solid;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  position: relative;
}

.radio-item label:after,.radio-item label:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
  
.radio-item label:after {
  height: 15px;
  width: 15px;
  border: 2px solid gray;
  left: 10px;
  top: calc(50% - 10px);
}

.radio-item label:before {
  background: gray;
  height: 16px;
  width: 16px;
  left: 12px;
  top: calc(50% - 8px);
  transform: scale(4);
  opacity: 0;
  visibility: hidden;

}
.radio-item [type="radio"]:checked ~ label {
  border-color: gray;
}
.radio-item [type="radio"]:checked ~ label::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.gamelist{
  border: 2px solid;
  height: 75%;
  border-radius: 15px;
}

.turnpage{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1%;
}

.page-button{
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
}

.page-button:hover {
  opacity: 0.8;
}

.gamelist{
  margin: 0.5%;
  height: 80%;
  border-radius: 15px;
  border: 2px solid;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 2px solid;
  overflow: hidden;
}

td {
  border: 1px solid black;
  text-align: center;
  background-color: #ddd;
}

th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  height: 5%;
  font-size: 120%;
}

.wishlist_button {
  background-color: #04AA6D;
  color: white;
  padding: 1px;
  font-size:medium;
  border: none;
  cursor: pointer;
  width: 50%;
  height: 30px;
  border-radius: 15px;
}

.wishlist_button:hover{
  opacity: 0.7;
}