<!DOCTYPE html>
<html>
    <head>
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <title>Steam Wishlist</title>
    </head>
    <body>
        
        <nav>
            <div>
                <!-- Login -->
                <a onclick="document.getElementById('login').style.display='block'">
                    <img src="{{ url_for('static', filename='icon/profile.png') }}" width="40">
                </a>

                <div id="login" class="modal">
                <form class="modal-content animate" action="{{ url_for('sign') }}" method="post">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close">&times;</span>
                    </div>
                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input class="login_input" type="text" placeholder="Enter Username" name="uname" required>
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                        <button class="login_button" type="submit">Log in</button>
                    </div>
                </form>
                </div>

                <!-- Favorite List -->
                <a onclick="document.getElementById('favorite').style.display='block'">
                    <img src="{{ url_for('static', filename='icon/heart.png') }}" width="40">
                </a>
                <div id="favorite" class="modal">
                    <form class="modal-content animate">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('favorite').style.display='none'" class="close" title="Close">&times;</span>
                    </div>
                    <div class="container">
                        <label style="text-align: center;font-size: 22px;"><b>You have not logged in yet.</b></label>
                    </div>
                    </form>
                </div>
            </div>
            
            <!-- Search Bar -->
	        <form class="search" action="{{ url_for('search') }}" method="post">
                <input type="text" id="search" name="search" class="search_input">&nbsp;
                <button type="submit" class="search_button">Search</button>
            </form>

            <div>
                <!-- Sort -->
                <!-- Use for lobby test -->
                {% if user != "Unknown" and user != "" %}
		        <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='icon/list.png') }}" width="40">
                </a>
                {% else %}
                <a href="#">
                    <img src="{{ url_for('static', filename='icon/sort.png') }}" width="40">
                </a>
                {% endif %}
                <!-- -->
                <!-- Search -->
                <a href="#">
                    <img src="{{ url_for('static', filename='icon/search.png') }}" width="40">
                </a>
            </div>
        </nav>
        {% if user == "Unknown" %}
        <div class="test_fail">
            錯誤的帳號或密碼！！！<br/>
            Appear whenever a mistake exists in account or password.
        </div>
        {% elif user != "" %}
        <div class="test_success">
            Login success!! Hello {{ user }} ! Welcome.<br/>
            Appear only when entering the correct account and password.
        </div>
        {% endif%}
        <div class="test">
            This is a test context.<br/>
            Under every cicumstance should you see this.
        </div>
    </body>
</html>
