<!--
    modify from Huang-Che-Yu: index.html
-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sign.css') }}">
        <title>Steam Wishlist</title>
    </head>
    <body>
        <nav>
            <a href="#"><img src="{{ url_for('static', filename='icon/list.png') }}" width="40"></a>
        </nav>
        <div class="sign">
            <p>
                請輸入帳號和密碼</br>
                {% if fail %}
                <div class="user_failed">
                    錯誤的使用者資訊</br>
                </div>
                {% endif %}
            </p>
            <form action="{{ url_for('sign') }}" method="post">
                <input type="text" id="account" name="account"><br>
                <input type="password" id="passwd" name="passwd"><br>
                <button type="submit">Search</button>
            </form>
            <a href="/regist">還沒有帳號嗎</a>
            <a href="/forget">忘記密碼</a>
        </div>
    </body>
</html>
