<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <title>Steam Wishlist</title>
</head>

<body>

    <nav>
        <div>
            <a onclick="ShowBlock('selection')"><img src="{{ url_for('static', filename='icon/profile.png') }}"></a>
            <div id="selection" class="modal">
                <div class="modal-content animate">
                    <div class="titlecontainer">
                        <span onclick="CloseBlock('selection')" class="close" title="Close">&times;</span>
                    </div>
                    <div class="container">
                        <button class="login_button" type="button"
                            onclick="ShowBlock('changeinformation');CloseBlock('selection')">Change account
                            information</button>
                        <button class="login_button" type="button"
                            onclick="ShowBlock('deleteaccount');CloseBlock('selection')">Delete account</button>
                        <form action="{{ url_for('logout') }}" method="post">
                            <button class="login_button" type="submit" onclick="CloseBlock('selection')">Log
                                out</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="changeinformation" class="modal">
                <form class="modal-content animate" action="{{ url_for('changeUser', user_id = user_id) }}"
                    method="post">
                    <div class="titlecontainer">
                        <h1>Change information</h1>
                        <span onclick="CloseBlock('changeinformation')" class="close" title="Close">&times;</span>
                    </div>
                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input class="login_input" type="text" placeholder="Enter Username" name="uname" required>
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                        <button class="login_button" type="submit">Change</button>
                    </div>
                </form>
            </div>
            <div id="deleteaccount" class="modal">
                <form class="modal-content animate" action="{{ url_for('deleteUser', user_id = user_id) }}"
                    method="post">
                    <div class="titlecontainer">
                        <h1>Change information</h1>
                        <span onclick="CloseBlock('deleteaccount')" class="close" title="Close">&times;</span>
                    </div>
                    <div class="container">
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                        <button class="login_button" type="submit" style="background-color: red;">Delete
                            Account</button>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <form action="{{ url_for('favorite', user_id = user_id, page = 1) }}" method="post">
                <a onclick="ShowBlock('sort')"><img src="{{ url_for('static', filename='icon/sort.png') }}"></a>
                <div id="sort" class="modal">
                    <div class="modal-content animate">
                        <div class="titlecontainer">
                            <h1>Sort</h1>
                            <span onclick="CloseBlock('sort')" class="close" title="Close">&times;</span>
                        </div>
                        <div class="container" style="display: inline-block;">
                            <h3>Condition</h3>
                            <div class="radio-item">
                                <input class="login_input" type="radio" id="name" name="condition" value="name" checked>
                                <label for="name"><b>Name</b></label>
                            </div>
                            <div class="radio-item">
                                <input class="login_input" type="radio" id="date" name="condition" value="release_date">
                                <label for="date"><b>Date</b></label>
                            </div>
                            <div class="radio-item">
                                <input class="login_input" type="radio" id="pratio" name="condition" value="pratio">
                                <label for="pratio"><b>Pratio</b></label>
                            </div>
                            <div class="radio-item">
                                <input class="login_input" type="radio" id="prating" name="condition"
                                    value="positive_ratings">
                                <label for="prating"><b>Prating</b></label>
                            </div>
                            <div class="radio-item">
                                <input class="login_input" type="radio" id="owners" name="condition" value="owners">
                                <label for="owners"><b>Owners</b></label>
                            </div>
                            <div class="radio-item">
                                <input class="login_input" type="radio" id="Price" name="condition" value="price">
                                <label for="Price"><b>Price</b></label>
                            </div>

                            <h3>Order</h3>
                            <div class="radio-item">
                                <input class="login_input" type="radio" id="order" name="order" value="Order" checked>
                                <label for="order"><b>Order</b></label>
                            </div>
                            <div class="radio-item">
                                <input class="login_input" type="radio" id="reverseorder" name="order" value="ROrder">
                                <label for="reverseorder"><b>Reverse Order</b></label>

                            </div>
                            <div class="radio-item">
                                <input class="login_input" type="radio" id="noorder" name="order" value="NOrder">
                                <label for="noorder"><b>No Order</b></label>
                            </div>
                            <br>
                            <button class="login_button" type="submit" onclick="CloseBlock('sort')">OK</button>
                        </div>
                    </div>
                </div>
        </div>
        </form>

        <a href="{{ url_for('index', user_id = user_id) }}"><img
                src="{{ url_for('static', filename='icon/home.png') }}"></a>
        </div>
    </nav>
    <br>
    <div style="text-align: center;">
        {% if deleteResult == "1" %}
        <script>alert('刪除成功。');</script> 
        {% else %}
        {% endif %}
    </div>
    <div class="gamelist">
        <table>
            <tr>
                <th>遊戲名稱</th>
                <th>發行日期</th>
                <th>好評率</th>
                <th>好評數</th>
                <th>遊玩人數</th>
                <th>價格</th>
                <th>從願望清單移除</th>
            </tr>
            {% if not wishlist %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% else %}
            {% for k, v in wishlist.items() %}
            <tr>
                <td>
                    <a href="{{ url_for('gameInfo', user_id = user_id, game_id = k) }}" target="_blank">
                        {{ v["name"] }}
                    </a>
                </td>
                <td>{{ v["date"] }}</td>
                <td>{{ v["pratiopct"] }}</td>
                <td>{{ v["pratings"] }}</td>
                <td>{{ v["owners"] }}</td>
                <td>{{ v["price"] }}</td>
                <td>
                    <form action="{{ url_for('deleteGame', user_id = user_id, game_id = k) }}" method="post">
                        <button class="wishlist_button" type="submit"><b>Remove from Wishlist</b></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
    <div class="turnpage">
        <form action="/index.html" method="post">
            <div style="float: left;">
                <button type="submit" class="page-button">Previous Page</button>
            </div>
            &nbsp;&nbsp;
            <div style="float: right;">
                <button type="submit" class="page-button">Next Page</button>
            </div>
        </form>
    </div>


</body>

</html>